body{
    padding: 10px;
}
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(400px, 1fr));
    grid-gap: 5px;
}
img{
    width: 100%;
    border-radius: 20px;
}
.box{
    padding: 10px;
}